* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background:  #3b008a;
  color: white;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

/* Background Shape */
.background-shape1 {
  width: 800px;
  height: 600px;
  background: #ba24d5;
  border-radius: 50%;
  filter: blur(231px);
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.background-shape2 {
  width: 458px;
  height: 458px;
  background: #6938ef;
  box-shadow: 0px 0px 50px rgba(105, 56, 239, 0.5);
  border-radius: 458px;
  filter: blur(231px);
  position: absolute;
  top: 50%;
  left: -200px;
  transform: translateY(-50%);
  z-index: -1;
}

.background-shape3 {
  width: 458px;
  height: 458px;
  background: #37156f;
  box-shadow: 0px 0px 50px rgba(105, 56, 239, 0.5);
  border-radius: 1000px;
  filter: blur(200px);
  position: absolute;
  top: 80%;
  right: -200px;
  transform: translateY(-50%);
  z-index: -1;
}

.container-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.profile-admin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.profile-admin img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.profile-info-admin {
  flex-grow: 1;
}

.profile-info-admin h2 {
  margin: 0;
  font-size: 18px;
}

.profile-info-admin p {
  margin: 5px 0 0;
  font-size: 14px;
}

.divider-admin {
  width: 100%;
  max-width: 1440px;
  height: 2px;
  background: white;
  margin: 20px 0;
}

.detail-admin {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
}

.profile-info-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.align-left {
  text-align: left;
  margin: 0;
}

.transparent-box {
  margin-top: 20px;
  width: 90%;
  height: 580px;
  background-color: rgba(255, 253, 253, 0.2);
  border-radius: 20px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.container-saldo {
  background: #686666af;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
  width: 45%;
  height: 230px;
  border: 1px solid white;
}

.box {
  background:#686666af;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border: 1px solid white;
}

.saldo {
  margin: 0 auto 20px auto;
}

.box h2,
.box h3 {
  margin: 0;
  font-size: 18px;
}

.box p {
  margin: 5px 0 0;
  font-size: 16px;
}

.box hr {
  border: 0;
  border-top: 1px solid white;
  margin: 10px 0;
}

.details {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.details div p {
  font-size: 18px;
}

.income {
  color: #00ff00;
}

.expense {
  color: #ff0000;
}

.container-saldo-transaksi {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.container-transaksi {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 58%;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 230px;
}

h2 {
  text-align: center;
  margin-bottom: px;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

td {
  padding: 10px;
  text-align: left;
  color: white;
}

th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.status-failed {
  color: red;
}

.status-success {
  color: white;
}

.edit-icon {
  color: white;
  cursor: pointer;
}

.container-riwayat {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 58%;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.3);
  height: 230px;
}

.container-riwayat-aktivitas {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 30px;
}

.container-aktivitas {
  background: #686666af;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 48%;
  height: 230px;
  color: white;
  border: 1px solid white;
}

.container-aktivitas h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 18px;
}

.day-aktivitas {
  margin-bottom: 15px;
}

.day-aktivitas h3 {
  margin: 0;
  font-size: 16px;
  margin-bottom: 10px;
}

.activity-aktivitas {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.activity-aktivitas img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: 2px solid white;
}

.activity-aktivitas p {
  margin: 0;
  font-size: 16px;
}

.activity-aktivitas p span {
  font-weight: bold;
}
